{% extends 'base.html' %}

{% block title_block %}
    Pathogen -
    {% block title_title_block %}
    {% endblock %}
{% endblock %}

{% block head_block %}
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/world.js"></script>
{% endblock %}

{% block body_block %}
    <div class="p-3 bg-dark"></div>
    <!--The first part of pathogen-page, the title-->
    <section class="pt-4 bg-secondary bg-opacity-75 text-light text-center text-sm-start">
        <div class="container">
            <div class="d-flex">
                <div class="card mx-auto" style="width: 1300px;">
                    <div class="card-header pt-3 d-flex flex-row align-items-center justify-content-between">
                        <div><h1><span class="text-dark">Monkeypox-test</span></h1></div>
                        <div class="ms-auto mt-auto"><h4><span class="text-danger">Danger lever: high</span></h4></div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--The second part of pathogen-page, the line chart-->
    <section class="bg-secondary bg-opacity-75 p-3">
        <div class="card mx-auto" style="width: 1300px;">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
            </div>
            <div class="card-body mx-auto">
                {% block line_total_block %}
                {% endblock %}
            </div>
        </div>
    </section>

    <section class="bg-secondary bg-opacity-75 pb-3">
        <div class="card mx-auto" style="width: 1300px;">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
            </div>
            <div class="card-body mx-auto">
                {% block line_daily_block %}
                {% endblock %}
            </div>
        </div>
    </section>

    <!--The third part of pathogen-page-->
    <section class="bg-secondary bg-opacity-75">
        <div class="container mx-auto">
            <div class="row">
                <!-- World Map -->
                <div class="col-xl-7">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                        </div>
                        <div class="card-body mx-auto">
                            {% block world_map_block %}
                            {% endblock %}
                        </div>
                    </div>
                </div>

                <!-- Pie Chart -->
                <div class="col-xl-5">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                        </div>
                        <div class="card-body mx-auto">
                            {% block pie_block %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}