{% extends 'pathogen.html' %}

{% block title_title_block %}
    Undiagnosed Disease
{% endblock %}

{% block line_total_block %}
    <div id="4dd7543500834220bef2bd12985ec255" class="chart-container" style="width:900px; height:500px;"></div>
    <script type="text/javascript" src="/static/js/undiagnosed/line_chart_total.js"></script>
{% endblock %}

{% block line_daily_block %}
    <div id="afeb80dd3a7f45408738f999f788979a" class="chart-container" style="width:900px; height:500px;"></div>
    <script type="text/javascript" src="/static/js/undiagnosed/line_chart_daily.js"></script>
{% endblock %}

{% block world_map_block %}
    <div id="a7ddc3d89aa84554954153f509433123" class="chart-container mx-auto" style="width:600px; height:300px;"></div>
    <script type="text/javascript" src="/static/js/undiagnosed/world_map.js"></script>
{% endblock %}

{% block pie_block %}
    <div id="85b522c5cec04c22b16fda5a423e5737" class="chart-container mx-auto" style="width:400px; height:300px;"></div>
    <script type="text/javascript" src="/static/js/undiagnosed/pie_base.js"></script>
{% endblock %}